body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #87b5b5;
  color: #212529;
  ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    background: #fff;
    display: inline-block
}


#editor{
    margin: 20px auto;
    max-width: 60%;
    z-index: -2;
    /* border: 0.5px solid black; */
    box-shadow: 1px 1px 15px rgb(14, 13, 13);
}

#preview{
  margin: 20px auto;
  max-width: 80%;
  z-index: -2;
}

.header {
    padding: 5px;
    box-shadow: 1px 1px 15px rgb(14, 13, 13);
    background-color: #4aa3a3;;

}

.header h3{
  display: inline-block;
  font-weight: bold;
  margin: 0
}

.header .icon{
  float: right;
}

.header .icon:hover{
  color: rgb(9, 219, 100);
  cursor: pointer;
}

textarea{
   width: 97%;
   overflow-y: scroll;
   margin: 0;
   padding: 1.5%;
   resize: none;
   background-color: #c0d8d8;
   box-shadow: 1px 1px 15px rgb(14, 13, 13);
}

textarea:focus{
  outline: none;
}


.visual-preview{
  width: 95%;
  background-color: #c0d8d8;
   box-shadow: 1px 1px 15px rgb(14, 13, 13);
   padding: 2.5%;
}

.visual-preview h1, .visual-preview h2, .visual-preview h3{
    border-bottom: 2px solid #212529
}

blockquote{
  padding-left: 3px;
  border-left: 3px solid #212529;
}

table{
  border: 2px solid #212529;
  text-align: left;
  border-spacing: 0px;

}

thead tr th, tbody tr td{
  padding: 2px 7px;
}

tbody tr:nth-child(1) td{
  border-top: 2px solid #212529;
  border-bottom: 2px solid #212529;
}

thead tr th:nth-child(2), tbody tr td:nth-child(2){
  border-left: 2px solid #212529;
  border-right: 2px solid #212529;
}

img{
  width: 100%;
  min-height: 80px
}